<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483126828640-ev2mam2li6oamrdrei3g4uav5s5tcjd0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483126828640-ev2mam2li6oamrdrei3g4uav5s5tcjd0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>483126828640-5r492h6hlr7kni5o5r56gn8b1gabov92.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBnVWjE9wPZnAMVDV7yOtYvlTN_h7aZSY0</string>
	<key>GCM_SENDER_ID</key>
	<string>483126828640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eu.hagisoft.mobileEndoendo</string>
	<key>PROJECT_ID</key>
	<string>endoendo-a22e4</string>
	<key>STORAGE_BUCKET</key>
	<string>endoendo-a22e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483126828640:ios:d9e58dcc17a40e847bed05</string>
</dict>
</plist>